<header>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            <a ui-sref="home"><h1>News</h1></a>
                        </div>
                    </div>
                     <div class="menu">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a ui-sref="home">Home</a></li>
                            <li role="presentation" ng-if="user"><a ui-sref="articleAdd">Add</a></li>
                            <li role="presentation" ng-if="user"><a ui-sref="userLogout">Logout</a></li>
                            <li role="presentation" ng-if="!user"><a ui-sref="userRegister">register</a></li>
                            <li role="presentation" ng-if="!user"><a ui-sref="userLogin">login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>